<!DOCTYPE html>
<html lang=en>
    <title>Edit Booking</title>

    <head>
        <style>

            .details {
                max-width: 400px;
                background-color: lightgrey;
                display: grid;
                grid-template-columns: 40% 60%;
            }

        </style>
    </head>

    <body>
        <form class="details">
            {% for x in editBooking %}
            
            <label for="name">Full Name: </label>
            <input type="text" id="name" placeholder={{ x.fullname }}>

            <label for="phone">Phone Number: </label>
            <input type="tel" id="phone" placeholder={{ x.phone }}>

            <label for="email">Email: </label>
            <input type="email" id="email" placeholder={{ x.email }}>

            <label for="supervisor">Supervisor: </label>
            <input type="text" id="supervisor" placeholder={{ x.supervisor }}>

            <label for="organisation">Organisation: </label>
            <input type="text" id="organisation" placeholder={{ x.organisation }}>

            <label for="date">Date: </label>
            <input type="date" id="date" value={{ x.date|date:'Y-m-d' }}>

            <label for="start">Start time: </label>
            <input type="time" id="start" value={{ x.start|time:"H:i" }}>

            <label for="finish">Finish time: </label>
            <input type="time" id="finish" value={{ x.finish|time:"H:i" }}>

            <label for="room">Room: </label>
            <input type="text" id="room" placeholder={{ x.room }}>

            <label for="equipment">Equipment: </label>
            <input type="text" id="equipment" placeholder={{ x.equipment }}>

            <label for="equipmentid">Equipment ID: </label>
            <input type="text" id="equipmentid" placeholder={{ x.equipmentid }}>

            <input type="submit" value="Submit">

            {% endfor %}
        </form>
    </body>
</html>