body {
    background: #f9efea;
    margin-top:100px;
    padding-bottom: 5px !important;
    height: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #006a6a !important;
}

.btn-sty {
    color: #ffffff;
    background: #008080;
    box-shadow: none;
    border: none;
    padding: 5px;
}

.btn-sty:hover {
    color: #a9a9a9;
    background: #006a6a;
}

.labels {
    font-size: 11px;
}

/* sidebar */
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 99;
top: 0;
left: 0;
background-color: #0f2e2e;
overflow-x: hidden;
transition: 0.5s;
padding-top: 110px;
}

.sideCont {
display: flex;
}

/* sidebar width */
.toggle {
    width: 170px;
}

/* sidebar buttons */
.sidenav a {
padding: 8px 32px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #ffffff !important;
display:block;
transition: 0.3s;
cursor:pointer;
}

.sidenav a:hover {
color: #757575 !important;
}

#sidebarLogout {
position: absolute;
bottom: 30px;
left: auto;
width: 0px;
align-self: flex-end;
}

/* top bar height and alignment */
/* (the height here needs to be the same as the top for the sidebar) */
.topbar {
height: 80px;
max-height: 80px;
align-content:center;
position: fixed;
top:0;
z-index: 100;
background-color: #008080;
cursor:default;
}

/* sidebar stuff */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* style for the button to toggle the sidebar */
.sidebarButton {
font-size:30px;
cursor:pointer;
}

::-webkit-scrollbar { /* hides the scroll bar but it still functions as intended */
display: none;
}
  
.centered-text {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #29a1c8;
    margin-top: 20px;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #008080;
}

.page-title{
    color: #008080;
}

.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #008080 !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: #0f2e2e;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px; 
}

.details {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3px
}

.detailsListItem {
    list-style-type: none;
    margin: auto;
    padding: 4px 0;
}

.fc-event-content {
    white-space: nowrap;         
    overflow: hidden;          
    align-items: center;          
    padding: 2px;                
    box-sizing: border-box;       
    max-width: 100%;              
}

.fc-event-title, .fc-event-time {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}